# Google C/C++ Code Style Settings

Language: Cpp  # Specifies this is for C++ code
BasedOnStyle: Google
Standard: c++20
UseTab: Never
ColumnLimit: 100

#Additional

AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Empty
InsertBraces: true
ExperimentalAutoDetectBinPacking: true
SortIncludes: false